# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
bin/
lib/
include/
share/

# Flask/Database
instance/
.webassets-cache
*.db
*.sqlite

# Logs
*.log
security.log
app/logs/

# Sensitive data
.env

# OS
.DS_Store
Thumbs.db

# Large Binaries / Build Artifacts (Force Exclusion)
app/static/downloads/**
applications/**/dist/
applications/**/build/
applications/**/dist/**
applications/**/build/**
*.exe
*.pkg
*.apk
*.pkg
*.msi
*.dmg
*.zip
*.tar.gz
*.7z
dist/
build/
bin/
obj/
