# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
app/static/downloads/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
bin/
lib/
include/
share/

# Flask/Database
instance/
.webassets-cache
*.db
*.sqlite

# Logs
*.log
security.log
app/logs/

# Sensitive data
.env

# OS
.DS_Store
Thumbs.db

# Large Binaries / Build Artifacts
app/static/downloads/*.exe
app/static/downloads/*.apk
applications/windows-amd/dist/
applications/windows-amd/build/
*.exe
*.pkg
*.dmg
