venv/
instance/
__pycache__/
*.pyc
honeytoken_creds.json
fim_hashes.json
banned_ips.txt
.last_ip_count
file_stats.ini
security.log
security.log.*
fail2ban.log
fail2ban.log.*
.env
app/logs/
landing_page/logs/
