@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('WnznHAc5bAfYB2QRah7pcpNvOx-pjcB9SII.ttf') format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('WnznHAc5bAfYB2QRah7pcpNvOx-pjRV6SII.ttf') format('truetype');
}
@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('z7NSdR76eDkaJKZJFkkjuvWxbP0.ttf') format('truetype');
}
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('UqyNK9UOIntux_czAvDQx_ZcHqZXBNQDcg.ttf') format('truetype');
}

